# Jupyter Notebook metadata and cache
.ipynb_checkpoints/
*.nbconvert.ipynb

# VS Code settings
.vscode/
*.code-workspace

# Python environment folders
__pycache__/
.env/
.venv/
bioenv/

# OS junk
.DS_Store

# Logs and cache
*.log
*.tmp
*.swp
