# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter & VS Code
.ipynb_checkpoints/
.vscode/

# OS files
.DS_Store

# Python environments
.env/
.venv/
bioenv-tf/

# Model files & logs
models/*.joblib
models/*.json
*.csv
*.png

# Streamlit temporary files
.streamlit/
